<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    配置 Servlet -->
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>com.czm127.servlet.ServletDemo</servlet-class>
<!--        指定Servlet创建时机
            load-on-startup 值为 "负数" 为第一次访问启动（默认）  "0or正整数" 就是服务器启动时启动 -->
        <load-on-startup>-1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
</web-app>